body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
}

.meal-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.heading {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #c2977a;
    /* color:#8a3904 ; */
}


.search-bar {
    cursor: pointer;
    margin-left: 335px;
    width: 100%;
    max-width: 500px;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    transition: all 0.3s ease;
    border: 2px solid #59300e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-bar:focus {
    outline: none;
    transform: scale(1.02);
}


.area-list {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

select {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 16px;
    transition: all 0.3s ease;
    border: 2px solid #59300e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

select:hover,
select:focus {
    outline: none;
    transform: scale(1.02);
}


.meal-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}


.meal-card {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #59300e;
}

.meal-card:hover {
    transform: translateY(-10px);
}

.meal-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1.5px solid #59300e;
}

.meal-card h3 {
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0;
    color: #333;
}

.meal-card p {
    text-align: center;
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}

.meal-card button {
    display: block;
    width: 80%;
    margin: 0 auto 20px;
    padding: 10px 0;
    background-color: #81400a;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.meal-card button:hover {
    background-color: #e64a19;
}


.loading {
    text-align: center;
    font-size: 1.5rem;
    color: #666;
    margin-top: 20px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    position: relative;
    text-align: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }
  
  .popup-content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .text{
    color:#7c3800ec;
    font-weight: 600;
    font-size: 30px;
  }
  
  .popup-content img.popup-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  
  .instructions-scroll {
    height: 240px;
    overflow-y: auto; /* Enables vertical scrolling */
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .instructions-scroll p {
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
    text-align: justify;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .close-btn:hover {
    background-color: #d32f2f;
  }
  